<nav class="nav-wrapper">
    <img [src]="iconNavBar" class="icon-navbar" alt="Icono de la barra de navegación">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
       <div class="item-container">
        <li><a href="sass.html">Inicio</a></li>
       </div>
        <div class="item-container">
            <li><a href="badges.html">Temas</a></li>
        </div>
        <div class="item-container">
            <li><a href="collapsible.html">Contacto</a></li>
        </div>
    </ul>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    <p>©Todos los derechos a sus respectivos creadores</p>
</footer>